*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f8f9fa;
    overflow-x: hidden;
}


.superior{
    height: 8vh;
    background-color: #16181d;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span > strong{
    color: #27aae1;
}

.enlace{
    color: #fff;
    cursor: pointer;
}

.cabezera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #20232a;
    height: 13vh;
}

.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.lista{
    display: flex;
    list-style: none;
}

.item a{
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    transition: all .3s ease-in-out;
}

.item a:hover{
    background-color: #27aae1;
    color: #20232a;
    border-radius: 5px;
}


.item2 a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #20232a;
    padding: 10px;
    margin: 10px;
    background-color: #27aae1;
    border-radius: 5px;
}

.item2 a:hover{
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.buscar{
    padding: 5px;
    border-radius: 5px;
    background-color: #282c34;
    border-style: none;
    color: #fff;
    font-size: 15px;
    margin-left: 30px;
}


.header{
    text-align: center;
    height: 70vh;
    background-color: #282c34;
    padding: 80px 20px;
}

.titulo{
    
    font-size: 3rem;
    color: #27aae1;
}

.subtitulo{
    color: #27aae1;
}

.parrafo{
    margin-top: 25px;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 100px;
    padding: 0 20px;
}

.a1{
    color: #20232a;
    text-decoration: none;
    font-size: 1rem;
    padding: 20px;
    margin: 10px;
    background-color: #27aae1;
    font-weight: bold;
    border-radius: 5px;
}

.a2{
    color: #27aae1;
    text-decoration: none;
    font-size: 1rem;
    margin: 10px;
}

.a1:hover{
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.a2:hover{
    color: #fff;
    transition: all .3s ease-in-out;
}

.caja{
    margin: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjeta{
    width: 360px;
    height: 390px;
    border: 1px solid #d2d2d2;    
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    text-align: center;
}

.tarjeta h3{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #20232a;
}

.tarjeta img{
    width: 200px;
    height: 200px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}

.tarjeta img:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    
    
}
.tarjeta p{
    color: #20232a;
    margin: 15px;
}

.tarjeta .p1{
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    background-color: #1a769e;
    color: #16181d;
    color: #fff;
    border-radius: 5px;
}


.tarjeta .p2{
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    background-color: #27aae1;
    color: #16181d;
    border-radius: 5px;
    color: #fff;
}

.piedepagina footer{
    width: 100vw;
    height: 40vh;
    background-color: #20232a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    
}

/*//////////////////***/

.footer1, .footer2, .footer3{
    width: 30vw;
    height: 30vh;
}

.footer1, .footer2{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding: 20px;
}

.footer3{
    padding: 20px;
}

.footer3 *{
    margin: 0 10px 20px 0;
}


.footer4{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

/*///////////////// ***/



/*/////////////// */




.footer3  .icono{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.enviar{
    padding: 10px;
    background-color:#282c34;
    font-size: 15px;
    border-style: none;
    color: lightgrey;
}



.hambu{
    width: 20px;
    height: auto;
    display: none;
    cursor: pointer;
    
}


@media screen and (max-width:875px) {
    .hambu{
        display: block;
        margin-right: 10px;
        filter: invert(1);
    }

    .lista{
        left: 0;
        top: 21vh;
        width: 100vw;
        height: 70%;
        background: #fafafa10;
        
        backdrop-filter: blur(10px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0 0 10px 0;
        transition: transform 0.3s;
        transform: translateX(-100vw);
               
    }

    
    .cambio{
        transform: translateX(0);
    }


    .contacto{
        display: none;
    }

}









@media screen and (max-width:870px) {
    .piedepagina footer{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        padding: 20px 0;
    }

    .footer1, .footer2, .footer3{
        width: 60vw;
        height: 30vh;
        
    }

}




@media screen and (max-width:360px) {

    .tarjeta{
        width: 360px;
        height: 410px;
        border: 1px solid #d2d2d2;    
        margin: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        text-align: center;
    }

    .tarjeta p{
        color: #20232a;
        margin: 15px;
        font-size: .9rem;
    }

    .span-footer{
        font-size: .9rem;
    }

    

}


